<div class="pokemon">
    <h1>Favorite Pokemon - <%= pokemonData.name %> Details</h1>
    <img src="<%= pokemonData.sprites.other.dream_world.front_default%>" alt="<%= pokemonData.name %> Sprite">
    <%= pokemonData.types.forEach(type => { %>

    <%= }) %>
</div>

